.form-box {
  height:100%;
  width:100%;
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    font-size: 20px;
  }

  &__top {
    display: flex;
    margin-top: 30px;
    height: 500px;
    width: 1000px;
    &__text-area {
      background-color: whitesmoke;
      border: gray 5px solid;
      width: 500px;
      textarea {
        resize: vertical;
        height: 200px;
      }
      #comment_rate {
        margin-right: 360px;
        width: 100px;

      }
      #star {
        text-align: left;
        margin-left: 15px;
        margin-top: 5px;
      }
    }
    &__beer-spot {
      background-color: whitesmoke;
      border: gray 5px solid;
      width: 500px;
    }
    p {
      text-align: left;
      margin-left: 15px;
      padding-top: 15px;
      font-weight: bold;
    }
    .size-arrange {
      height: 10000px;
    }
  }
  &__beer-spot {
    margin-top: 20px;
  }
  &__send-btn {
    margin-top: 20px;
    margin-left: 350px;
    height: 300px;
    #submit {
      width: 300px;
    }
  }
}