.content
  .content__title
    麦酒（むぎしゅ）どっとこむとは
  .content__message
    麦酒どっとこむは「おすすめの麦酒（クラフトビール）」を紹介するサイトです。
    ただし、たまたま飲んだ麦酒の感想をまとめたサイトでありません。
    世の中にはクラフトビールに熱狂している人（ビアギーク）がいます。そんなビアギーク達が厳選した一杯を紹介するサイトです。
    %br
    %br
    麦酒どっとこむが対象とするのは大手ビールを除く全てのクラフトビールを対象とします。海外ブリュワリーやあまり馴染みの無いスタイルなど広範囲にカバーします。
    ただし、読者の入手性を考慮して、国内飲食店で飲めることや通販で購入可能な麦酒に絞っています。
    レビューページに通販や飲食店の情報を記載しますが、取扱時期や地域の網羅性に欠けるため、読者の皆様に「この店で飲めた（買えた）よ！」という情報シェアをしていただけると有難いです。
    %br
    %br
    クラフトビールは様々な定義があります。よく言われるのは「小規模な醸造所がつくる、多様で個性的なビールのこと」です。
    ここ数年で日本においても街中でクラフトビールをよく見かけるようになりました。
    ただし、国内ビール市場においてはシェア1％程度と、一足先にクラフトビールブームが起きた米国の10%超と比較すると、まだまだクラフトビールを楽しめる機会が少ないと感じています。
    %br
    %br
    クラフトビールが日本の酒文化として根付くためにはブリュワリーが丹精込めて造った個性的な麦酒を知ってもらう情報媒体が必要不可欠です。
    その役割の一端を担うことが麦酒どっとこむの目的です。多種多様なクラフトビールの世界をご一緒に楽しましょう。
    .content__message__name
      運営者
  .content__top-page   
    = link_to root_path do
      TOPページへ

 