.header
  .header__left-box
    %p.header__left-box__title-message
      飲みたいビールが、きっと見つかる！
    .header__left-box__title
      = link_to root_path do  
        麦酒どっとこむ
    %p.header__left-box__english
      CraftBeer.com

  -# .header__right-box
  -#   .header__right-box__login
  -#     = link_to "#" do
  -#       ログイン
